.preview-container {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
}

.preview-collection {
    width: 100%;
    margin-top: .5em;
}

.preview-item__row {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
}

.preview-item__col {
    flex: initial;
}

.preview-item__col.is--large {
    max-width: none;
    width: auto;
}

.preview-item__col.is--small {
    max-width: none;
    width: auto;
    text-align: right;
}

.preview-container__label {
    color: var(--black);
    opacity: 0.4;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-family: 'nm-mono', monospace;
    letter-spacing: 0.1em;
}

.preview-list {
    flex-flow: column;
    width: 100%;
    display: flex;
    position: relative;
}

.preview-item {
    width: 100%;
    transition: opacity .2s;
}

.preview-item__heading {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    /* Slightly larger as in image */
    font-weight: 400;
    line-height: 1;
    font-family: 'nm-medium', sans-serif;
    /* Use medium weight */
    color: var(--black);
    /* Will appear purple-ish if var(--black) is the brand color */
    text-transform: none;
}

/* Text styles handled in preview-item__text above */

.preview-item__text {
    margin-bottom: 0;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.2;
    font-family: 'nm-mono', monospace;
    color: var(--black);
    opacity: 0.7;
}

.preview-item__visual {
    aspect-ratio: 1 / 1.25;
    width: 20em;
    display: none;
    position: absolute;
    overflow: hidden;
}

.preview-follower [data-follower-visual] {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.preview-item__inner {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-decoration: none;
    display: block;
    transition: padding-left 0.3s ease;
}

.preview-item__inner:hover {
    padding-left: 1rem;
}

.preview-item__visual-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.preview-follower {
    z-index: 100;
    aspect-ratio: 1 / 1.25;
    pointer-events: none;
    border-radius: .75em;
    justify-content: center;
    align-items: center;
    width: 20em;
    display: flex;
    position: fixed;
    inset: 0% auto auto 0%;
    overflow: hidden;
}

.preview-follower__label {
    display: none;
}

.preview-follower__label-span {
    background-color: var(--white);
    border-radius: .25em;
    padding: .75em 1.25em;
    font-size: 1em;
    font-family: 'nm-mono', monospace;
    text-transform: uppercase;
    color: var(--black);
}

.preview-follower__inner {
    z-index: 2;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.1s ease, transform 0.6s cubic-bezier(0.65, 0.1, 0, 1);
}

@media screen and (min-width: 992px) {
    .preview-item:last-of-type {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}

@media (hover: hover) and (min-width: 992px) {
    body:has([data-follower-collection]:hover) .preview-follower__inner {
        opacity: 1;
        transform: scale(1);
    }

    body:has([data-follower-collection]:hover) .preview-follower__label {
        opacity: 1;
        transform: translate(0px, 0%);
    }

    body:has(.preview-item:hover) .preview-item:not(:hover) {
        opacity: 0.3;
    }
}

@media screen and (max-width: 991px) {
    .preview-item__row {
        grid-row-gap: .5em;
    }

    .preview-item__row.tabelt--hide {
        display: none;
    }

    .preview-item__col.is--large {
        flex: none;
        order: -1;
        width: 100%;
        max-width: none;
    }

    .preview-item__col.is--small {
        text-align: left;
        max-width: 100%;
    }

    .preview-list {
        grid-column-gap: 1em;
        grid-row-gap: 0;
        flex-flow: wrap;
    }

    .preview-item {
        width: 100%;
    }

    .preview-item__heading {
        font-size: 1.5rem;
    }

    .preview-item__visual {
        border-radius: .75em;
        order: -1;
        width: 100%;
        margin-bottom: 1em;
        display: block;
        position: relative;
    }

    .preview-item__inner {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        flex-flow: column;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        display: flex;
    }

    .preview-follower {
        display: none;
    }
}